[user]
	email = tunnelshade@gmail.com
	name = tunnelshade
[core]
	editor = nvim
	fsmonitor = false
	untrackedCache = true
	hooksPath = /usr/local/gitconfig/hooks/
# [url "git@github.com:"]
# 	insteadOf = https://github.com
[push]
	default = current
[pull]
	rebase = true
