[user]
	email = tunnelshade@gmail.com
	name = tunnelshade
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
[pull]
	rebase = true
